html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: black;
}

.logo{
  text-align: center;
  background-color: rgb(126, 5, 5);
  color: white;
  text-shadow: 4px 4px black;
  padding: 0.5em;
  font-family: luminari, fantasy;
}

#character-bar {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
}

.character-card {
  height: 35px;
  width: 200px;
  display: fixed;
  justify-content: center;
  font-size: 3vh;
  align-items: center;
  border-radius: 10px 10px 10px;
  border: 1px solid white;
  font-family: Luminari, fantasy;
  color: white;
}

#storyBook{
  display: flex;
  overflow: auto;
  margin: 1rem 0;
  max-width: calc(100vw - 2rem);
}

input[type="submit"], button {
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
  font-size: 3vh;
}

#image{
  height: 500px;
}

#character-display-image {
  width: 250px
}

#character-stats{
text-align: left;
margin: 20px;
display: inline-block;
position: absolute;
left: 0;
color: white;
font-family: 'Atari', sans-serif;
}

.character-card:hover {
  padding: 2px 2%;
  color: rgb(126, 5, 5);
  text-shadow: 0.5px 0.5px black;
}

#story-text{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  font-family: 'Atari', sans-serif;
  color: white;                                                               
}

#story-headline {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  font-family: 'Atari', sans-serif;
  color: white;                                                               
}

.battle-text{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  font-family: 'Atari', sans-serif;
  color: white;
}





.combat-buttons {
  font-family: luminari, fantasy;
}

.combat-buttons:hover {
  padding: 2px 2%;
  color: rgb(126, 5, 5);
}

.confirm-button {
  font-family: luminari, fantasy;
}

.confirm-button:hover {
  padding: 2px 2%;
  color: rgb(10, 86, 10);
}

#yes-button {
  font-family: luminari, fantasy;
}

#yes-button:hover {
  padding: 2px 2%;
  color: rgb(10, 86, 10);

}

#no-button {
  font-family: luminari, fantasy;
}

#no-button:hover {
  padding: 2px 2%;
  color: rgb(126, 5, 5);

}

.next-button {
  font-family: luminari, fantasy;
}

.next-button:hover {
  padding: 2px 2%;
  color: rgb(10, 86, 10);
}

#health {
  color: red;
}

#encounter {
  color: white;
  font-family: 'Atari', sans-serif;
}