html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo{
  text-align: center;
  background-color: red;
  color: white;
  padding: 0.5em;
  font-family: luminari, fantasy;
}

#character-bar {
  height: 15vh;
  background: rgb(49, 109, 179);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
}

.character-card {
  padding: 1%;
  height: 100px;
  display: fixed;
  justify-content: center;
  font-size: 3vh;
  align-items: center;
  border-radius: 2em;
  border: 1px solid white;
  font-family: Luminari, fantasy;
}

#storyBook{
  display: flex;
  overflow: auto;
  margin: 1rem 0;
  max-width: calc(100vw - 2rem);
}

input[type="submit"], button {
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
  font-size: 3vh;
}

#image{
  height: 500px;
}

#character-display-image {
  width: 250px
}

#character-stats{
text-align: left;
margin: 20px;
display: inline-block;
position: absolute;
left: 0;
}

.character-card:hover {
  padding: 2px 2%;
  color: red;
}

#story-text{
  text-align: center;
  display: inline-block;
  width: 500px;
}

.battleText{
  text-align: center;
  display: inline-block;
  width: 500px;
}





.combat-buttons {
  font-family: luminari, fantasy;
}

.combat-buttons:hover {
  padding: 2px 2%;
  color: red;
}

.confirm-button {
  font-family: luminari, fantasy;
}

.confirm-button:hover {
  padding: 2px 2%;
  color: green;
}

#yes-button {
  font-family: luminari, fantasy;
}

#yes-button:hover {
  padding: 2px 2%;
  color: green;

}

#no-button {
  font-family: luminari, fantasy;
}

#no-button:hover {
  padding: 2px 2%;
  color: red;

}

.next-button {
  font-family: luminari, fantasy;
}

.next-button:hover {
  padding: 2px 2%;
  color: green;

}